@model FreelancerPlatform.Application.Dtos.Category.CategoryQuickViewModel
@using Microsoft.Extensions.Configuration;
@inject IConfiguration _configuration
@{
    ViewData["Title"] = "Cập nhật lĩnh vực";
}

<input id="id" value="@Model.Id" type="hidden" />
<input id="update-image-flag" value="0" type="hidden" />

<div class="container-fluid px-4">
    <h1 class="mt-4">Sửa lĩnh vực</h1>
    <div class="card mb-4">
        <div class="card-header">
            <h5 style="margin: 0;">Sửa lĩnh vực</h5>
        </div>
        <div class="card-body">
            <form id="create-admin-form">
                <!-- Thêm ID cho form -->
                <div class="mb-3">
                    <label for="category-name" class="form-label">Tên lĩnh vực</label>
                    <input value="@Model.Name" type="text" id="category-name" name="category-name" class="form-control" placeholder="Nhập tên lĩnh vực" />
                </div>
                <div id="container-image" class="mb-3">
                    <label for="image-category" class="form-label">Ảnh</label>
                    <input type="file" id="image-category" name="image-category" class="form-control" />
                </div>

                <!-- Khu vực hiển thị ảnh -->
                <div class="mb-3" id="image-preview-container">
                    <img id="image-preview" src=@($"{_configuration["ImageCloud"]}/Image/{Model.ImageUrl}") alt="Preview" class="img-fluid" style="width: 30%; height: auto;" />
                    <button type="button" id="btn-remove-image" class="btn btn-danger mt-2">Gỡ bỏ ảnh</button>
                </div>

                <div class="mb-3">
                    <button type="submit" id="btn-update-category" class="btn btn-primary">Lưu lại</button>
                    <a href="/linh-vuc" class="btn btn-secondary">Quay lại</a> <!-- Thay đổi đường dẫn nếu cần -->
                </div>
            </form>
        </div>
    </div>
</div>

@section script {
    <script>
        $(document).ready(function () {
            $('#container-image').hide();

            $('body').on('click', '#btn-remove-image', function (e) {
                $('#update-image-flag').val(1);
                $('#image-preview-container').hide();
                $('#container-image').show();
            });

            $('body').on('change', '#image-category', function (e) {
                $('#update-image-flag').val(2);
            });

            $('body').on('click', '#btn-update-category', function (e) {
                e.preventDefault();

                const newName = $('#category-name').val();
                const newId = $('#id').val();
                if (newName.trim() == ''){
                    showError('Tên không được rỗng');
                    return;
                };
                var newImageUrl = null;

                var flag = $('#update-image-flag').val();

                if (flag == 1) {
                    showError('Ảnh không được rỗng');
                    return;
                }
                if (flag == 2) {
                    newImageUrl = $('#image-category')[0].files[0];
                }

                const formData = new FormData();
                formData.append('name', newName);
                formData.append('imageUrl', newImageUrl);
                formData.append('id', newId);

                $.ajax({
                    type: "POST",
                    url: '/category/updatecategory',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (res) {
                        window.location.replace('/linh-vuc');
                    },
                    error: function (err) {
                        const errors = err.responseJSON.errors;
                        if (errors) {
                            const error = errors[0];
                            const messages = error.errors;
                            if (messages && messages.length > 1) {
                                showError(messages[1]);
                            } else if (messages) {
                                showError(messages[0]);
                            } else {
                                showError('Đã xảy ra lỗi không xác định.');
                            }
                        } else {
                            showError('Đã xảy ra lỗi không xác định.');
                        }
                    }
                });
            });
        });


    </script>
}