
@{
    ViewData["Title"] = "404";
}
<section id="main-container" class="main-container">
    <div class="container">

        <div class="row">

            <div class="col-12">
                <div class="error-page text-center">
                    <div class="error-code">
                        <h2><strong>404</strong></h2>
                    </div>
                    <div class="error-message">
                        <h3>...Không tìm thấy trang!</h3>
                    </div>
                    <div class="error-body">
                        <a href="/" class="btn btn-primary">Quay về trang chủ</a>
                    </div>
                </div>
            </div>

        </div><!-- Content row -->
    </div><!-- Conatiner end -->
</section><!-- Main container end -->